/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';


/*global styles that will be throughout the application*/
@font-face {
    font-family: "roboto-light";
    src: url(./assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: "roboto-regular";
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

body h1 {
    font-family: "roboto-light", Arial, Helvetica, sans-serif;
    font-size: 25px;
}

body h3 {
    font-family: "roboto-regular", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body a {
    text-decoration: none;
    color: black;
    font-family: "roboto-regular", Arial, Helvetica, sans-serif;
}

body button {
    
}